/* Navbar */

.navbar {
  height: 70px;
  border-bottom: 1px solid grey;
}

.brand {
  position: absolute;
  left: 30px;
}

#smNavbar {
  display: block;
  padding: 20px 30px;
}

@media (max-width: 576px) {

  .navbar-brand {
    font-size: 1rem;
  }

  #smNavbar {
    display: none !important;
  }

  #about-me {
    margin-bottom: 30px;
  }

  #about-me-content-box-left {
    padding-bottom: 30px;
  }
}

#mdNavbar-items {
  margin-left: 20px;
}

#mdNavbar-items .nav-item {
  padding-left: 60px;
}

#navbarMenuToggler {
  position: absolute;
  right: 0px;
  top: 20px;
}

@media (min-width: 575.98px) {
  #navbarMenu {
    display: none !important;
  }
}

#navbarMenu {
  position: absolute;
  top: 70px;
  right: -15px;
  left: -15px;
  height: 300px;
  z-index: 2;
}

#home {
  background-image: url(./images/background1.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 650px;
}

/*  Hero */

#intro {
  position: relative;
  top: 150px;
  margin: auto;
}

#intro_text {
  text-align: center;
  padding-top: 30px;
}

.intro-divider {
  border-width: .2rem;
  border-color: white;
  max-width: 4.25rem;
}

/* about me */

#about-me {
  margin-bottom: 60px;
  height: 500px;
}

@media (max-width: 576px) {

}

#about-me-title {
  margin-top: 40px;
  margin-bottom: 40px;
}

#about-me-content-box {
  height: 400px;
}

#about-me-content-box-left {
  border-radius: 5px;
  border: 1px solid black;
}

#about-me-content-box-right {
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.8);
}

.content {
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 30px;
}

.description {
  padding-top: 20px;
}

#logo {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* projects */

#projects-title {
  margin-top: 40px;
  margin-bottom: 40px;
}
